.box {
  height: 2.5em;
  width: 2.5em;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 7px 2px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

body{
  background: url("./back.jpg");
  background-size: auto;
  position: relative;
}

.box:hover{
  background: rgb(250, 185, 64);
}

.player-board-info{
  position: absolute;
  top: 6vh;
  left: 5vw;
  color: #fff;
  font-size: 2em;
  font-family: 'Bubblegum Sans', cursive;
}

.ai-board-info{
  position: absolute;
  top: 6vh;
  right: 5vw;
  color: #fff;
  font-size: 2em;
  font-family: 'Bubblegum Sans', cursive;
}

.boards-container {
  position: relative;
  padding-top: 20vh;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.row, .box{
  margin: 0;
  padding: 0;
}

.game-over{
  display: none;
  position: absolute;
  top: 2em;
  left: 40vw;
  background-color: black;
  color: #fff;
}
