.box {
  height: 2.5em;
  width: 2.5em;
  border: 2px solid #000;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.box:hover{
  background: rgb(250, 185, 64);
}

#player-board{
  margin-right: 2em;
}

#player-board, #ai-board {
  width: 47%;
}

.boards-container {
  padding-top: 15vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
