.box {
  height: 3em;
  width: 3em;
  border: 2px solid #000;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.box:hover{
  background: rgb(250, 185, 64);
}

#player-board{
  margin-right: 2em;
}

#player-board, #ai-board {
  display: inline-block;
  width: 47%;
}

.boards-container {
  padding-top: 15vh;
  width: 90%;
  margin: 0 auto;
}
